{{ extends 'global/Page.html' }}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
        <style>
        .column {
            float: left;
            height: 80vh; /* Responsive height */
        }

        .top {
            height: 5vh;
            border: 1px solid #000; /* Optional styling */
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 3%;
        }

        /* Row style with maximum width and responsive adjustments */
        .row {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        #meet {
            width: 100%;
            height: 80vh; /* Set the height to 100% of the viewport height */
        }

        .my-box {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;

        }

        /* because there is my-box in the only call of my-box1 (function displayed yes/no), no border, padding, background is needed */
        .my-box1 {
            /* border: 1px solid #ccc; */
            /* padding: 10px; */
            /* background-color: #f9f9f9; */
            display:none;
        }

        .center-container {
          display: flex;
          justify-content: center; /* horizontal center */
          align-items: center;     /* vertical center */
          text-align: center;
          line-height: 1.5;
          width: 100%;
        }

        label {
            display: inline-block;
        }

        .radio-container {
            margin-top: 10px;
        }
        .radio-option {
            display: flex;
            align-items: center;
            margin-right: 10px; /* 10px left margin for each option */
        }
        .radio-option input {
            margin-right: 10px;
        }

        /* Responsive layout */
        @media (max-width: 1200px) {
            .row { max-width: 1200px; }
        }
        @media (max-width: 1000px) {
            .row { max-width: 1000px; }
        }
        @media (max-width: 800px) {
            .row { max-width: 800px; }
        }
        @media (max-width: 600px) {
            .row { max-width: 600px; }
            .column {
                float: none;
                width: 100%;
                height: 80vh; /* Adjust height to auto for small screens */
            }
        }

        .collapsible-container {
          display: flex;
          align-items: center;
          cursor: pointer;
          background-color: #f1f1f1;
          padding: 10px;
          border-radius: 5px;
          width: fit-content;
        }
        .icon {
          font-weight: bold;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 1px solid #666;
          border-radius: 3px;
          font-size: 14px;
          background-color: white;
        }
        .content {
          display: none;
          padding: 10px;
          margin-top: 5px;
          background-color: #f9f9f9;
          border-left: 3px solid #ccc;
        }

         #progressBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            transition: width 0.5s ease-in-out; /* Smooth transition for the width change */
        }
    </style>
{% endblock %}

{{ block title }}Stage 2: Virtual Team Meeting {{ endblock }}

{{ block content }}

    <!-- Container (my-box) contains Introduction, additional information via ^ and Progress Bar -->
    <!-- Box is initially visible-->
    <div id = "box1" class="my-box">
        <div id="message">

           The virtual team meeting has started. Please click <b><u>allow</u></b> on the popup for permission to record audio.
            <br><br>
           You have a total of <b> 7 minutes to discuss types of vacation </b> (camping, beach, city trips etc.).
           The progress bar indicates the time left for discussion. The upload for the audio data starts automatically afterwards. <u>Do not</u> refresh this page.


           <!-- Provides the clickable "+", allowing to display additional Information = "Note: " -->
            <div class="collapsible-container" onclick="toggleContent()">
                <span id="icon" class="icon">+</span>
                <span>Technical notes:</span>
            </div>

            <!-- Content that is displayed via + "Note: " -->
            <div id="collapsible-content"  style="background-color: #F2F2F2; padding: 10px;  border: 2px solid gray;  margin: 0;" class="content">
                <ul>
                    <li>
                        You can click on <b>^ above the "Mute / Unmute" (microphone) icon </b>to select the microphone and speaker you want to use.
                        This might help if your <b>currently selected microphone or speaker do not work</b>.
                        "Mute / Unmute" (microphone) icon:
                        <img src="{% static 'Picture_Microphone.jpg' %}" alt="microphone-icon"/>
                    </li>

                    <li>
                        If you have several cameras, you can choose which camera is used by clicking on <b>^ above the "Start/Stop camera" icon</b>.
                        It is mandatory to keep the camera turned on during the meeting."Start/Stop camera" icon:
                        <img src="{% static 'Picture_Camera.jpg' %}" alt="camera-icon"/>
                    </li>

                    <li>If your camera or microphone is not functioning properly,
                        please make sure you have allowed microhone and camera access in your browser settings
                        (Click Browser Settings or to the Left of the address bar).<br/>
                    </li>

                   <li>
                       Each team member is given the name "O".There is <b>no hierarchy</b> based on the names.
                       In the Jitsi meeting, you can see the names of each team member in the <b>bottom left corner of each screen</b>.
                    </li>
                </ul>
            </div>

            <br><br><br>
        </div>



        <!-- Progress bar-->
        <div id="progressBarContainer" style="width: 100%; background-color: #ddd; margin-top: -50px;">
            <div id="progressBar" style="width: 0%; height: 30px; background-color: cornflowerblue;"></div>
        </div>

        <!-- Adding some space between progress bar and video meeting, which is not visible after C.VM_DURATION-->
        <div class="collapsible">
            <br>
        </div>

        <!-- Container contains Video meeting (id=meet) -->
        <div id="videopanel" class="row">

            <!-- In case of player.video_meeting_behavior 3 an extra container with instructions is displayed -->
            {% if player.video_meeting_behavior == 3 %}
                <div id="container" class="column top">
                      <div id = "messageTreatment" class="center-container">
                          <br/> <b><h2>Focus on engaging with others in the meeting, and communicate with them.</h2></b><br/>
                      </div>
                </div>
            {% endif %}

            <!-- Video meeting with different style (hight) depending on player.video_meeting_behavior -->
            <div id="meet"
                 {% if player.video_meeting_behavior == 2 %}
                     style="height: 40vh; border: 1px solid #000;"
                 {% else %}
                     style="height: 80vh; border: 1px solid #000;"
                 {% endif %}
            ></div>
        </div>

    </div>


    <!-- The following container shows Questionnaire 1/3 for C.VM_DURATION, after the Video Meeting is over -->
    <!-- Container is initially hidden and will be displayed after the video meeting elapsed-->
    <div id = "description" type = "hidden" class="my-box1">
        <br>
        <!-- Separate heading before my-box -->
        <h2 class="card-title text-left">Stage 2: Questionnaire 1/3</h2>

        <br>

        <!-- standard grey box for content = Questionnaires -->
        <div class="my-box">
            <form>
                <p>Please answer the questions below before the timer elapses, and you are forwarded automatically: <span id="countdown-timer" style="font-weight: bold;"></span></p>

                <!-- See & Hear -->
                <b>Please choose the closest option about the quality of the virtual team meeting:</b>
                <div class="radio-container">
                <div class="radio-option">
                  <input type="radio" id="see_yes" name="seehearyes" value="yes" onchange="updateSeeHearQuestion(this.value)">
                  <label for="see_yes">I could hear and see both of the other two team members.</label>
                </div>
                <div class="radio-option">
                  <input type="radio" id="see_maybe" name="seehearyes" value="maybe" onchange="updateSeeHearQuestion(this.value)">
                  <label for="see_maybe">I could <i>mostly</i> hear and understand the others, despite minor audio or video interruptions.</label>
                </div>
                <div class="radio-option">
                  <input type="radio" id="see_no" name="seehearyes" value="no" onchange="updateSeeHearQuestion(this.value)">
                  <label for="see_no">I could not hear and see one or both of the other two team members throughout the call.</label>
                </div>
                </div>
                <br>

                <!-- Virtual Background -->
                <b>Did all Participants use the same virtual background for the video meeting?:</b>
                <div class="radio-container">
                <div class="radio-option">
                  <input type="radio" id="bg_yes" name="virtualbackgroundYes" value="yes" onchange="updateBackgroundCheck(this.value)">
                  <label for="bg_yes">Yes, all participants used the same virtual background</label>
                </div>
                <div class="radio-option">
                  <input type="radio" id="bg_no" name="virtualbackgroundYes" value="no" onchange="updateBackgroundCheck(this.value)">
                  <label for="bg_no">No, <u>not</u> all participants used the same virtual background</label>
                </div>
                </div>

                <br>
                <!-- Attention Check -->
                <b>Please confirm the following statement:</b>
                <div class="radio-option">
                <input type="radio" id="attnCheck" name="attentionCheckYes" value="yes" onchange="updateAttentionCheck(this.value)">
                <label for="attnCheck">I confirm that I am human, and will continue participating in this study.</label>
                </div>

                <!-- Hidden Inputs -->
                <input id="hiddenSeeHear" type="hidden" name="seeHear" value="2"/>
                <input id="hiddenAttentionCheck" type="hidden" name="attentionCheck" value="0"/>
                <input id="hiddenBackgroundCheck" type="hidden" name="correctBackground" value="1"/>
            </form>

            <!-- JS for backend-update seeHear, BackgroundCheck, AttentionCheck -->
            <script>
            function updateSeeHearQuestion(selectedValue) {
                var seeHear = document.getElementById("hiddenSeeHear");
                if (selectedValue === 'yes') {
                    seeHear.value = 1;
                } else if (selectedValue === 'no') {
                 seeHear.value = 0;
                } else if (selectedValue === 'maybe') {
                    seeHear.value = 2;
                } else {
                    seeHear.value = 2;
                }
            }

            function updateBackgroundCheck(selectedValue) {
                var correctBackground = document.getElementById("hiddenBackgroundCheck");
                if (selectedValue === 'yes') {
                    correctBackground.value = 1;
                } else {
                    correctBackground.value = 0;
                }
            }

            function updateAttentionCheck(selectedValue) {
                var attentionCheck = document.getElementById("hiddenAttentionCheck");
                if (selectedValue === 'yes') {
                    attentionCheck.value = 1;
                } else {
                    attentionCheck.value = 0;
                }
              }
            </script>
        </div>

        <br>

        <!--Countdown-Hinweis -->
        <div id="countdown-container">
            <p style="color: gray; font-style: italic;">
                This page proceeds automatically.
            </p>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let remaining = {{ timeout_seconds }};

                document.getElementById("countdown-timer").textContent = remaining;

                let interval = setInterval(function () {
                    remaining--;
                    if (remaining <= 0) {
                        clearInterval(interval);
                        document.getElementById("countdown-timer").textContent = "0";
                    } else {
                        document.getElementById("countdown-timer").textContent = remaining;
                    }
                }, 1000);
            });
        </script>

    </div>


    <!-- load Jitsi into JS-->
    <script src="https://haps-meeting.k8s.iism.kit.edu/external_api.js"></script>

    <script>
        // trigger repeatedly otree live_methode
         setInterval(() => {
                liveSend("ping");
            }, 800);
    </script>

    <script>
        const domain = "haps-meeting.k8s.iism.kit.edu"; //Here goes your domain where the meeting takes place.
        let TN_name="O";
        let api;


        const meeting_behavior = {{ player.video_meeting_behavior}};
        /*
            meeting_behavior = 1: control
            meeting_behavior = 2: self-view
            meeting_behavior = 3: message
        */

        // configuration-object: Defines the options for the Jitsi external API (Behavior, Visual etc)
        const options = {
            // name of the vm-room = group ID
            roomName: "Video Meeting" + {{player.group_id}},

            // declare here which element should parent your stream -> html element with ID '#meet'
            parentNode: document.querySelector('#meet'),
            configOverwrite: {
                prejoinConfig: {
                    enabled: false
                },
                disableSelfView: meeting_behavior===2, // true, if meeting_behavior = 2
                startWithAudioMuted: false,
                startWithVideoMuted: false,
                filmstrip: {
                    disableResizable: true,
                },
                participantsPane: {
                    hideModeratorSettingsTab: true,
                    hideMoreActionsButton: true,
                    hideMuteAllButton: true
                },
                disableAEC: false, // Acoustic Echo Cancellation
                disableNS: false,  // Noise Suppression
                resolution: 360,
                    constraints: {
                        video: {
                            height: {
                                ideal: meeting_behavior === 2 ? 180 : 360,
                                max: meeting_behavior === 2 ? 180 : 360,
                                min: 180
                            }
                        }
                    },
                    disableSimulcast: true,
                    enableLayerSuspension: false,
                    toolbarButtons: [
                        'microphone', 'camera' // Custom button added
                    ]
            },
            interfaceConfigOverwrite: {
                TOOLBAR_BUTTONS: ['microphone', 'camera', 'fodeviceselection'],
                SHOW_JITSI_WATERMARK: false,
                TILE_VIEW_MAX_COLUMNS: 2,
                TILE_VIEW_ENABLED: true,
                SHOW_MEETING_TIMER: false,
                SHOW_MORE_ACTIONS: false,
                PARTICIPANT_MENU_BUTTONS: []
            },
            userInfo: {
                displayName: TN_name,
            }
        };

        // builds the meeting as an iframe in the #meet element.
        api = new JitsiMeetExternalAPI(domain, options); //This is where the iframe is actually constructed

        // turns on Tile View everytime a participant joins (makes it default)
        api.addEventListener('videoConferenceJoined', () => {
            api.executeCommand('setTileView', true);
        });

        // vars for media stream
        let audioStream;
        let displayStream;

        // vars for media recorder
        let audioRecorder;
        let displayRecorder;

        // vars for audio-chunks, handled via "ondataavailable"
        let recordedAudioChunks = [];
        let recordedDisplayAudioChunks= [];


        document.addEventListener('DOMContentLoaded', async function () {
        /*
            This event listener waits until the DOM content is fully loaded before executing.
            It:
                1. Hides the oTree timer and "Next" button until recording/upload is complete.
                2. Requests microphone and system audio permissions.
                3. Records both microphone audio and display (system) audio using MediaRecorder.
                4. Stores recorded audio data into separate arrays for microphone and display audio.
                5. Stops recording after a defined countdown duration.
                6. Uploads both recordings to the server via POST requests.
                7. Updates the UI to indicate upload progress and completion.
        */

            // Hide oTree timer if present
            let timerElement = document.querySelector('.otree-timer');
            if (timerElement) {
                timerElement.style.visibility = 'hidden';
            }

            // Hide the "Next" button until upload is complete
            const nextBtn = document.querySelector(".otree-btn-next.btn.btn-primary");
            nextBtn.style.display = "none";

            // Hide all timer elements
            var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
            for (var i = 0; i < timerElements.length; i++) {
                timerElements[i].style.visibility = 'hidden';
                timerElements[i].style.display = 'none';
            }

            // Prepare FormData containers for audio uploads
            console.log('Before audio media request...');
            const audioFormData = new FormData();
            const displayFormData = new FormData();

            console.log('Audio media request...');

            try {
                // Request microphone access (audio only)
                console.log('Requesting audio media...');
                audioStream = await navigator.mediaDevices.getUserMedia({
                    audio: true,
                    video: false
                });

                console.log('Media streams obtained.');

                // Create audio recorder for microphone input
                audioRecorder = new MediaRecorder(audioStream, { mimeType: 'audio/webm' });
                if (audioRecorder) {
                    audioRecorder.ondataavailable = (event) => {
                        if (event.data.size > 0) {
                            recordedAudioChunks.push(event.data);
                            console.log('Audio data available:', event.data);
                        }
                    };
                }

                // Request display capture (system audio + video, but remove video later)
                displayStream = await navigator.mediaDevices.getDisplayMedia({
                    preferCurrentTab: true,
                    video: { mediaSource: 'tab' },
                    audio: true
                });

                // Remove the video track — only keep audio
                displayStream.getVideoTracks()[0].stop();
                displayStream.removeTrack(displayStream.getVideoTracks()[0]);

                // Create audio recorder for display/system audio
                displayRecorder = new MediaRecorder(displayStream, { mimeType: 'audio/webm' });
                if (displayRecorder) {
                    displayRecorder.ondataavailable = (event) => {
                        if (event.data.size > 0) {
                            recordedDisplayAudioChunks.push(event.data);
                            console.log('Display media audio chunk stored.');
                        }
                    };
                }

                // Handle microphone recording stop event
                if (audioRecorder) {
                    audioRecorder.onstop = async () => {
                        console.log('Audio recorder stopped.');

                        // Combine audio chunks into a single Blob
                        const audioBlob = new Blob(recordedAudioChunks, { type: 'audio/webm' });

                        // Generate unique filename with timestamp
                        const timestamp = new Date().toISOString().replace(/[-:.]/g, '');
                        const groupId = '{{ group.id_in_subsession }}';
                        const playerId = '{{ player.id_in_group }}';
                        const filenameWebm = `audio_${groupId}_${playerId}_${timestamp}.webm`;

                        // Append audio file to FormData
                        audioFormData.append('audio', audioBlob, filenameWebm);
                        console.log('Audio form data prepared for upload.');

                        // Determine upload URL based on consent
                        let uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/noOptIn';
                        {% if participant.vars.optInConsent == 0 %}
                            uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/noOptIn';
                        {% else %}
                            uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/optIn';
                        {% endif %}

                        // Upload audio data
                        try {
                            const response = await fetch(uploadUrlAudio, {
                                method: 'POST',
                                body: audioFormData
                            });

                            if (response.ok) {
                                console.log('Audio uploaded successfully.');
                                nextBtn.style.display = "block";
                                document.getElementById('message').innerHTML =
                                    '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';

                                // Hide progress bar and timer
                                document.getElementById('progressBarContainer').style.visibility = 'hidden';
                                document.getElementById('progressBarContainer').style.display = 'none';
                                document.getElementById('progressBar').style.visibility = 'hidden';
                                document.getElementById('progressBar').style.display = 'none';
                                hideTimerElements();
                            } else {
                                console.error('Failed to upload audio.');
                                nextBtn.style.display = "block";
                                document.getElementById('message').innerHTML =
                                    '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';
                                hideProgressAndTimers();
                            }
                        } catch (error) {
                            console.error('Error uploading audio:', error);
                        }
                    };
                }

                // Handle display/system audio recording stop event
                if (displayRecorder) {
                    displayRecorder.onstop = async () => {
                        console.log('Display recorder stopped.');

                        const displayBlob = new Blob(recordedDisplayAudioChunks, { type: 'audio/webm' });
                        const timestamp = new Date().toISOString().replace(/[-:.]/g, '');
                        const groupId = '{{ group.id_in_subsession }}';
                        const playerId = '{{ player.id_in_group }}';
                        const filenameWebm = `display_${groupId}_${playerId}_${timestamp}.webm`;

                        displayFormData.append('audio', displayBlob, filenameWebm);
                        console.log('Display media recording stored.');

                        let uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/noOptIn';
                        {% if participant.vars.optInConsent == 0 %}
                            uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/noOptIn';
                        {% else %}
                            uploadUrlAudio = 'https://hapsweakestlinkpi-iism.org:3000/upload/audio/optIn';
                        {% endif %}

                        try {
                            const response = await fetch(uploadUrlAudio, {
                                method: 'POST',
                                body: displayFormData
                            });

                            if (response.ok) {
                                console.log('Display Audio uploaded successfully.');
                                nextBtn.style.display = "block";
                                document.getElementById('message').innerHTML =
                                    '<p><b> The video meeting is now terminated. <br/> We will now proceed.</b></p>';
                                hideProgressAndTimers();
                            } else {
                                console.error('Failed to upload display audio.');
                                nextBtn.style.display = "block";
                                document.getElementById('message').innerHTML =
                                    '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';
                                hideProgressAndTimers();
                            }
                        } catch (error) {
                            console.error('Error uploading display audio:', error);
                        }
                    };
                }

                // Start both recorders if available
                if (audioRecorder) audioRecorder.start();
                if (displayRecorder) displayRecorder.start();

                console.log('Media recorders started.');

                // Listen for countdown reaching the upload duration
                $('.otree-timer__time-left').on('update.countdown', function (event) {
                    if (event.offset.totalSeconds === {{ C.VM_UPLOAD_DURATION }}) {
                        if (audioRecorder) audioRecorder.stop();
                        if (displayRecorder) displayRecorder.stop();

                        if (audioStream) audioStream.getTracks().forEach(track => track.stop());
                        if (displayStream) displayStream.getTracks().forEach(track => track.stop());

                        if (api) api.dispose();

                        document.getElementById('message').innerHTML = `
                            <div style="background-color: #e3f5d3; padding: 10px; margin: 0;">
                              <p style="color: #13752d;">
                                Uploading audio recording..
                                </br></br>
                                You will be forwarded automatically within two minutes. <br>
                                Meanwhile, <b>please answer the questions below!</b>
                              </p>
                            </div>
                        `;

                        hideProgressAndTimers();

                        var headerElement = document.getElementById('myHeader');
                        console.debug('header element');
                        console.debug(headerElement);
                        if (headerElement) {
                            console.debug('header element found');
                            headerElement.innerHTML = '<h2>Stage 2: Uploading Data</h2>';
                        } else {
                            console.error('Header element not found');
                        }
                        document.getElementById('description').style.display = 'block';
                        document.getElementById('videopanel').style.display = 'none';
                    }
                });

            } catch (err) {
                console.error('Error accessing media.', err);

                console.log('Before timer');
                $('.otree-timer__time-left').on('update.countdown', function (event) {
                    if (event.offset.totalSeconds === {{ C.VM_UPLOAD_DURATION }}) {
                        console.log('Detects timer event {{ C.VM_UPLOAD_DURATION }}');

                        if (audioRecorder) {
                            console.log('Attempts to stop audio recorder');
                            audioRecorder.stop();
                        }
                        if (displayRecorder) {
                            console.log('Attempts to stop display recorder');
                            displayRecorder.stop();
                        }
                        if (audioStream) {
                            console.log('Attempts to stop audio stream');
                            audioStream.getTracks().forEach(track => track.stop());
                        }
                        if (displayStream) {
                            console.log('Attempts to stop display stream');
                            displayStream.getTracks().forEach(track => track.stop());
                        }
                        if (api) {
                            console.log('Attempts to stop api');
                            api.dispose();
                        }

                        document.getElementById('message').innerHTML = `
                            <div style="background-color: #e3f5d3; padding: 10px; margin: 0;">
                              <p style="color: #13752d;">
                                Uploading audio recording..
                                </br></br>
                                You will be forwarded automatically within two minutes. <br>
                                Meanwhile, <b>please answer the questions below!</b>
                              </p>
                            </div>
                        `;

                        hideProgressAndTimers();

                        var headerElement = document.getElementById('myHeader');
                        console.debug('header element');
                        console.debug(headerElement);
                        if (headerElement) {
                            console.debug('header element found');
                            headerElement.innerHTML = '<h2>Stage 2: Uploading Data</h2>';
                        } else {
                            console.error('Header element not found');
                        }
                        document.getElementById('description').style.display = 'block';
                        document.getElementById('videopanel').style.display = 'none';
                    }
                });
            }

            // Helper function: hide all progress bar and timer elements
            function hideProgressAndTimers() {
                document.getElementById('progressBarContainer').style.visibility = 'hidden';
                document.getElementById('progressBarContainer').style.display = 'none';
                document.getElementById('progressBar').style.visibility = 'hidden';
                document.getElementById('progressBar').style.display = 'none';
                hideTimerElements();
            }

            // Helper function: hide all oTree timer warning elements
            function hideTimerElements() {
                var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                for (var i = 0; i < timerElements.length; i++) {
                    timerElements[i].style.visibility = 'hidden';
                    timerElements[i].style.display = 'none';
                }
            }

        });


    function toggleContent() {
        const content = document.getElementById("collapsible-content");
        const icon = document.getElementById("icon");

        if (content.style.display === "block") {
          content.style.display = "none";
          icon.textContent = "+";
        } else {
          content.style.display = "block";
          icon.textContent = "−";
        }
      }

    const duration = {{ C.VM_DURATION }};

    /// Start Time Log
    document.addEventListener("DOMContentLoaded", function() {
        startProgressBar(duration);
    });


    function startProgressBar(duration) {
        var elem = document.getElementById("progressBar");

        var totalTime = duration * 1000; // Total time in milliseconds
        var intervalTime = 500; // Update interval in milliseconds
        var increments = totalTime / intervalTime; // Total number of increments
        var widthIncrement = 100 / increments; // Width increment per interval

        var width = widthIncrement;

        var id = setInterval(frame, intervalTime);
        function frame() {
            if (width > 100) {
                clearInterval(id);
            } else {
                width += widthIncrement;
                elem.style.width = width + '%';
            }
        }
    }

    window.onload = function () {
        preventRefreshAndReload();
    };

    function preventRefreshAndReload() {
        // Prevent F5 and Ctrl+R / Cmd+R
        window.addEventListener('keydown', function (e) {
            // F5
            if (e.key === 'F5') {
                e.preventDefault();
                e.stopPropagation();
            }

            // Ctrl+R or Cmd+R
            if ((e.ctrlKey || e.metaKey) && e.key === 'r') {
                e.preventDefault();
                e.stopPropagation();
            }
        });
    }
    </script>

    {{ next_button }}

{{ endblock }}
